<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}" />

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/app.css}" />
    <meta charset="UTF-8">
    <title>Dodaj gifa!</title>
    <html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="layout/default"></div>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form th:action="@{/create}" enctype="multipart/form-data" method="post">
        <label>nazwa:</label>
        <p><input type="text" th:field="${gif.name}"></p>
        <label>username:</label>
        <p><input type="text" th:field="${gif.username}"></p>
        <label>Kategoria:</label>
        <p><input type="number" th:field="${gif.categoryId}"></p>
        <label>Plik do wrzucenia:</label>
        <p><input type="file" name="file" /></p>
        <p><input type="submit" value="Add"></p>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>

</body>
</html>